<footer class="custom-footer">
  <div class="footer-container">
    <div class="footer-column">
      <h4>COORDENAÇÃO</h4>
      <p><strong>Coordenador</strong><br>Guilherme Alex Derenievicz</p>
      <p><strong>Vice-Coordenador</strong><br>Rachel Carlos Duque Reis</p>
    </div>
    <div class="footer-column">
      <h4>SECRETARIA</h4>
      <p>Fernando Viana</p>
      <p>Lucas Silva Costa</p>
      <p><strong>e-mail:</strong> <a href="mailto:ibmj@inf.ufpr.br">ibmj@inf.ufpr.br</a></p>
      <p><strong>Fone:</strong> (41) 3361-3572 (Em Manutenção)</p>
    </div>
    <div class="footer-column">
      <h4>ATENDIMENTO</h4>
      <p>Segunda à Sexta</p>
      <p>08:00 às 20:00</p>
    </div>
  </div>
</footer>
